.info {
    text-color: green;
    background: #b2ffaa;
}

.error {
    text-color: red;
    background: #ffb1a6;
}

.entryText {
    font-size: 18px;
    overflow-x: auto;
    overflow-y: hidden;
}

.user-info-dashboard {
    padding-top: 10px;
    color: white;
}

.feedback-container {
    position: absolute;
    top: 45px;
    z-index: 1090;
}

#feedback {
    margin: 0 auto 0 auto;
    float: none;
    z-index: 1090;
}

.new-entries-box {
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

/* Sticky Footer Start */
html, body, .container, .content {
    height: 100%;
}

.container, .content {
    position: relative;
}

.proper-content {
    padding-top: 40px; /* >= navbar height */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* same as the footer */
}

.push {
    height: 60px; /* same as the footer */
}

.footer-wrapper {
    position: relative;
    height: 60px;
}
.inline-comments-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    padding-left: 10px;
    color: #333333;
    background-color: #ffffff;
}

.diff-file-data {
    overflow-x: auto;
    overflow-y: hidden;
    font-family: "Courier New", monospace;
    font-size: 13px;
    border: 1px solid #CCCCCC;
    table-layout: fixed;
}

.diff-table-line-number-cell {
    width: 25px;
    padding: 0 4px;
    border-right: 1px solid #CCCCCC;
    text-align: right;
}

.diff-line {
    white-space: pre;
    padding-left: 10px;
    width: 100%;
}

.diff-added {
    background-color: #ddffdd;
}

.diff-removed {
    background-color: #ffdddd;
}

.diff-not-changed {

}

.diff-header {
    background-color: #eeeeee;
    color: #888888;
}

/* Sticky Footer End */

#overlay {
    z-index: 1000;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.active-element .well{
    background: #e5e0c6;
}