// diff
.diff
  // height calculated in JS (same as commitsHeight)
  height: 700px;
  padding: 0em 0.77em 2.3em 0;
  &.opened
    position: absolute;
    right: 0;
    width: 100%;
    transition: width 1000ms;
    z-index: 3;
    & .toggle-diff-container-btn:hover i
      margin-left: 12px;

.diff-header
  padding-top: 0.77em;
  padding-right: 0.77em
  & .file-changer-label
    float: left;
    margin: 0.77em
  & .file-changer
    float: left;
    margin: 0.77em;
    width: auto;
  & .reviewed.big.button
    float: right;
    margin-top: 0;
    margin-bottom: 0.77em;
    vertical-align: top;

.diff-wrapper
  height: 100%;
  background: #fff;
  border: 1px solid #e4d9b8;
  box-shadow: 0 0 7px 0 rgba(211,196,160,0.7);
  margin-left: -1px;
  overflow-y: auto;

.diff-container
  padding: 2.3em 1.15em 1.15em 2.3em;
  & .authored-box 
    margin-bottom: 2.3em;
    & img
      margin-right: 1.15em;
      width: 3.85em;
    & .commit-name
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 0.4em;

.toggle-diff-container-btn
  background: white;
  border: 1px solid #e4d9b8;
  border-right: none;
  bottom: 2.3em;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0.77em;
  width: 2.2em;
  z-index: 5;
  transition: opacity 250ms, width 500ms, left 500ms;
  &:hover
    left: -0.77em;
    opacity: 1;
    width: 2.9em;
  & i
    color: $main-orange-color;
    margin-left: 5px;
    position: absolute;
    top: 45%;

.diff-statistics
  clear: left;
  color: $main-orange-color;
  margin-bottom: 1.15em;
  text-transform: uppercase;

.diff-table-wrapper
  border: 1px solid $main-border-color;
  margin-bottom: 2.3em;
  overflow-x: auto;
  overflow-y: hidden;

.diff-file-container
  border: none;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin: 0;
  width: 100%;
  & thead
    background: $body-bg-color;
    border-bottom: 1px solid $main-border-color;
    & th
      color: $body-text-color;
      font-size: 1em;
      font-weight: normal;
      padding: 0.77em 1.15em;
      text-align: left;
  & tbody
    font-size: 13px;
  & .diff-line-code
    white-space: pre;
    cursor: pointer;
  & .diff-line-num
    border-right: 1px solid #d6d6d6;
    line-height: 1.125em;
    margin: 0;
    max-width: 50px;
    min-width: 50px;
    padding: 0;
    text-align: right;
    width: 50px;
    & .button
      background: transparent;
      border: none;
      height: 100%;
      line-height: inherit;
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      &.comment
        background: transparent;
    & .diff-line-num-content
      color: #aaaaaa;
      display: inline-block;
      margin: 0.38em 0.77em;
      height: 14px;
      min-width: 1em;
      vertical-align: middle;
      & span
        display: inline-block;
        min-height: 14px;
    & i
      opacity: 0;
      position: absolute;
      left: 50%;
      margin-left: -0.5em;
      top: 50%;
      margin-top: -0.5em;
  & tr.removed
    background: #ffdddd;
    & .diff-line-num
      background: #f7c8c8;
      border-color: #e9aeae;
    & .diff-line-num-content
      color: #bd8f8f;
  & tr.added
    background: #d4f7c1;
    & .diff-line-num
      background: #bce7a5;
      border-color: #b0cfa3;
    & .diff-line-num-content
      color: #95a88d;
  & tr.header
    background: #efefef;
    & .diff-line-num
      background: #ededed;
      border-color: #cdcdcd;
      color: #ababab;
  & tr.comments-container
    background: $body-bg-color;
    border-left: none;
    border-right: none;
    border-bottom: none;
    & td
      padding: 1.15em 1.15em 0;

.diff-file-container tr.liked-by-others
    & .like.button
      background: #f3720b;
      & .icon-heart
        color: rgb(255, 255, 255);
        opacity: 1;
      & .diff-line-num-content
        opacity: 0;

.diff-file-container tr.liked-by-user
    & .like.button
      background: #f3720b;
      & .icon-heart
        color: rgb(185, 80, 21);
        opacity: 1;
      & .diff-line-num-content
        opacity: 0;

tbody tr.comments-container:last-child
  border-bottom: 1px solid $main-border-color;

tr:hover .diff-line-num .button
  background: $main-orange-color;
  &:hover
    background: #c25b09;
  &.comment
    background: $green-button-bg-color;
    &:hover
      background: $green-button-bg-hover;
  & .diff-line-num-content
    opacity: 0;
  & i
    opacity: 1;

.diff-not-displayed
  margin-bottom: 2.3em;
  & ul
    margin: 0;
    padding: 0;
  & li
    list-style: none;

.diff-not-displayed h6
  color: $main-orange-color;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.38em 0;
  text-transform: uppercase;

.diff-not-displayed-file-name
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  line-height: 1.4;
  list-style: none;

.diff-not-displayed-stat
  color: $second-body-text-color;
  font-family: 'PT Sans', Tahoma, sans-serif;
  font-size: 0.814em;

.like-commit
  background: $body-bg-color;
  color: $second-body-text-color;
  display: inline-block;
  margin-bottom: 0.38em;
  padding-right: 1.15em;
  & .like.button
    padding: .4em 1.15em 0.25em;
  & span
    display: inline-block;
    margin-top: .2em;
    vertical-align: top;
  &.liked-by-others .like.button
    background: #f3720b;
    & .icon-heart
      color: rgb(255, 255, 255);
  &.liked-by-user .like.button
    background: #f3720b;
    & .icon-heart
      color: rgb(185, 80, 21);


// Inline likes
.diff-file-container tr.inline-likes
  background: $body-bg-color;
  color: $main-orange-color;
  padding: 0;
  & td
    padding: 0.38em 0.38em 0.38em 1.15em;
    & .comment
      margin-bottom: 0;

.likes-list
  display: inline;
  list-style: none;
  padding: 0;
  & li
    display: inline;
    margin-right: 5px;
    white-space: nowrap;
    &:after
      content:',';
      position: relative;
  & li:last-child:after
    content:'';

.likes
  color: $main-orange-color;

.scroll-target-reaction-mark
  background: $main-border-color;

.scroll-target-reaction-done
  background: $body-bg-color;
  transition: background 1.5s linear;