.login-error
    background: #f3720b;
    color: #ffd8cf;
    padding: 0.77em 1.15em;
    text-align: center;

.demo-login-info
    background: #f2ecd5;
    color: #a27d69;
    padding: 0.77em 1.15em;
    text-align: center;

.text-error
  color: $error-red-color;

.popup-error
  background: $error-red-color;
  color: $error-text-color;
  padding: 0.77em 1.15em;
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 1.54em;
  right: 1.54em;
  z-index: 1000;
  & i
    margin-right: 5px;

.spinner 
  display: none;
  height: 24px;
  margin-bottom: 1.15em;
  position: relative;
  text-align: center;