.popup-page
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  &.opened
    display: block;
  & .popup-box
    background-color: $body-bg-color;
    left: 50%;
    margin-left: -250px;
    max-width: 500px;
    padding: 2.3em;
    position: fixed;
    top: 35%;
    & h1
      font-size: 1.17em;
      margin-top: 0;
      text-align: center;
    & .close-btn
      background: $form-input-bg-color;
      color: $error-red-color;
      display: inline-block;
      padding: 0.77em;
      position: absolute;
      right: 0;
      top: 0;
      transition: background 250ms, color 250ms; 
      &:hover
        background: $error-red-color;
        color: white;
    & a
      color: $main-orange-color;
      text-decoration: none;
    & blockquote
      background: $form-input-bg-color;
      border-left: 0.38em solid $main-orange-color;
      color: $second-body-text-color;
      font-style: italic;
      line-height: 1.4;
      margin: 1.5em 0 0;
      padding: 0.77em 1em 0.77em 2.3em;
      & footer
        font-style: normal;
        margin-top: 0.5em;
  &.uservoice
    & .popup-box
      width: 500px;
      top: 20%;
    & .uv-success
      display: none;
      & p
        text-align: center;
      &.opened
        display: block;
    & .uv-error
      display: none;
      & p
        text-align: center;
      &.opened
        display: block;
    & label
      margin-bottom: 0.38em;
    & input, textarea
      width: 100%;
      margin-bottom: 1.15em;
      padding: 7px;
      border: 1px solid #ccc;
      box-shadow: none;
    & input
      height: 32px;
    & textarea
      resize: vertical;
      height: auto;
    & .form-group span.text-error
      bottom: -16px;