<div ng-controller="FollowupsCtrl">
    <div class="row">
        <div class="span12">
            <h3>Follow-ups</h3>
        </div>
    </div>
<div class="row">
    <div class="span4">
        <ul class="unstyled">
            <li ng-repeat="followup in followups" ng-controller="FollowupListItemCtrl" mark-current="followup.commit.commitId">
                <div class="row">
                    <div class="span4 well well-small">
                        <div class="row">
                            <div class="span2 offset1">
                                <p class="text-right">{{followup.date | relativeDate}}</p>
                            </div>
                            <div class="span1">
                                <button class="btn btn-mini btn-success" ng-click="dismiss(followup)"><i class="icon-ok"></i></button>
                            </div>
                        </div>
                        <div class="row" ng-click="openFollowupDetails(followup)">
                            <div class="span4">
                                <h5>{{followup.commit.message}}</h5>
                                <span>by {{followup.commit.authorName}}</span>
                                <span>by {{followup.commit.id}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="span7 offset1" ui-view></div>
</div>
</div>