<div ng-controller="FollowupDetailsCtrl">
    <div>
        <div class="row">
            <div class="span7">
                <h4 ng-bind-html-unsafe="currentCommit.commit.message"></h4>
                <p>{{currentCommit.commit.sha}}</p>
                <p>{{currentCommit.commit.date | relativeDate}} by {{currentCommit.commit.authorName}}</p>
                <button class="btn btn-success" ng-click="markCurrentFollowupAsDone()">
                    <i class="icon-ok"></i> Dismiss this followup
                </button>
            </div>
        </div>
        <ng-include src="'views/secured/commits/commitFilesAndComments.html'"/>
    </div>
    <button class="btn btn-success" ng-click="markCurrentFollowupAsDone()">
        <i class="icon-ok"></i> Dismiss this followup
    </button>
</div>