*.iml
*.ipr
*.iws
.idea/
target/
*.log
.DS_Store

scripts/dist/codebrag/
scripts/dist/codebrag.zip

# local files for dev env
local.conf*
.instanceId
./repos/
./data/


# for codebrag-ui
codebrag-ui/node_modules
codebrag-ui/dist
codebrag-ui/tmp