<div id="commits-tab-content" class="row" ng-controller="CommitsCtrl" auto-fit-height>
    <div class="commits items-list small-3 large-3 columns">
        <div class="sorting">
            <input type="radio" id="pending" ng-change="switchListView()" ng-model="listViewMode" value="pending"><label class="button" ng-class="{'link': listViewMode != 'pending'}" for="pending">To review</label>
            <input type="radio" id="all" ng-change="switchListView()" ng-model="listViewMode" value="all"><label class="button" ng-class="{'link': listViewMode != 'all'}" for="all">All</label>
        </div>
        <div class="list-loader" http-request-tracker="commitsList">
            <span class="info">Loading commits...</span>
        </div>
        <div class="items-container" scroll-commits-list>
            <!--commit info start-->
            <div class="commit-container" ng-repeat="commit in commits" ng-controller="CommitsListItemCtrl"  mark-current="commit.id"
                 state-param-name="id" ng-click="openCommitDetails(commit)">
                <div class="authored-box">
                    <div class="author-box"><user-avatar url="commit.authorAvatarUrl"></user-avatar></div>
                    <div class="info-box">
                        <div class="commit-name" ng-bind-html-unsafe="commit.message"></div>
                        <div class="info-line"><span class="username">{{commit.authorName}}</span><span class="time">{{commit.date | relativeDate}}</span></div>
                    </div>
                </div ><i class="icon-ok-circle" ng-show="commit.pendingReview" ng-click="markAsReviewed(commit)" isolate-click></i>
            </div>
            <div class="no-more-items" ng-show="commits && commits.length == 0">
                Yay!<br> Nothing to review!
            </div>
            <!--commit info end-->
            <div id="commits-list-end"></div>
        </div>
        <div class="commits-count" ng-controller="LoadMoreCommitsCtrl" ng-show="moreCommitsAvailable">
            <div ng-click="loadMoreCommits()">load more</div>
        </div>
    </div>
    <div class="diff small-9 large-9 columns" ui-view>
    </div>
</div>