<div id="commits-tab-content" class="row" ng-controller="CommitsCtrl">
    <div id="sticky"></div>
    <div class="commits large-3 columns">
        <ul class="commits-sorting button-group" activate-single="a" toggle-class="link">
            <li><a ng-click="loadPendingCommits()" class="button">To review</a></li>
            <li><a ng-click="loadAllCommits()" class="button link">All</a></li>
        </ul>
        <div class="commits-container">
            <!--commit info start-->
            <div class="commit-container" ng-repeat="commit in commits" ng-controller="CommitsListItemCtrl"  mark-current="commit.id"
                 state-param-name="id" ng-click="openCommitDetails(commit)">
                <div class="authored-box">
                    <div class="author-box"><img src="images/avatar.png"></div>
                    <div class="info-box">
                        <div class="commit-name" ng-bind-html-unsafe="commit.message"></div>
                        <div class="info-line"><span class="username">{{commit.authorName}}</span><span class="time">{{commit.date | relativeDate}}</span></div>
                    </div>
                </div ><i class="icon-ok-circle" ng-show="commit.pendingReview" ng-click="markAsReviewed(commit)" isolate-click></i>
            </div>
            <!--commit info end-->
        </div>
        <div class="commits-count">6 more</div>
    </div>
    <div class="diff large-9 columns" ui-view>
    </div>
</div>
