<div ng-controller="CommitDetailsCtrl">
    <div>
        <div class="row">
            <div class="span7">
                <h4 ng-bind-html-unsafe="currentCommit.commit.message"></h4>
                <p>{{currentCommit.commit.sha}}</p>
                <p>{{currentCommit.commit.date | relativeDate}} by {{currentCommit.commit.authorName}}</p>
                <button class="btn btn-success" ng-click="markCurrentCommitAsReviewed()" ng-show="currentCommit.commit.pendingReview">
                    <i class="icon-ok"></i> Mark this commit as reviewed
                </button>
            </div>
        </div>
        <ng-include src="'views/secured/commits/commitFilesAndComments.html'"/>
    </div>
    <button class="btn btn-success" ng-click="markCurrentCommitAsReviewed()" ng-show="currentCommit.commit.pendingReview">
        <i class="icon-ok"></i> Mark this commit as reviewed
    </button>
</div>

<script type="text/ng-template" id="inlineCommentForm">
    <tr class="comment-form">
        <td class="diff-table-line-number-cell"></td>
        <td class="diff-table-line-number-cell"></td>
        <td style="background: #ededed">
            <div style="width:680px">
                <markdown-comment-form action="submitInlineComment" extra-args="file,line,$index"></markdown-comment-form>
            </div>
        </td>
    </tr>
</script>