<div ng-controller="CommitDetailsCtrl">
    <div>
        <div class="row">
            <div class="span7">
                <h4 ng-bind-html-unsafe="currentCommit.message"></h4>
                <p>{{currentCommit.sha}}</p>
                <p>{{currentCommit.date | relativeDate}} by {{currentCommit.authorName}}</p>
                <button class="btn btn-success" ng-click="markCurrentCommitAsReviewed()"><i class="icon-ok"></i> Mark this commit as reviewed</button>
            </div>
        </div>
        <ng-include src="'views/secured/commits/commitFilesAndComments.html'"/>
    </div>
    <button class="btn btn-success" ng-click="markCurrentCommitAsReviewed()"><i class="icon-ok"></i> Mark this commit as reviewed</button>
</div>