    <div class="diff-container clearfix" ng-controller="CommitDetailsCtrl">
        <div class="toggle-diff-container-btn"><i class="icon-chevron-left"></i></div>
        <div class="authored-box">
            <div class="author-box"><img src="images/avatar.png"></div>
            <div class="info-box">
                <div class="commit-name" ng-bind-html-unsafe="currentCommit.commit.message"></div>
                <div class="info-line"><span class="username">{{currentCommit.commit.authorName}}</span><span class="time">{{currentCommit.commit.date | relativeDate}}</span></div>
            </div>
        </div>

        <ng-include src="'views/secured/commits/commitFilesAndComments.html'"/>

    </div>
