<div ng-controller="CommitsCtrl">
<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Commits awaiting review</label>
                <div class="controls">
                    <button class="btn" ng-click="syncCommits()">Sync commits</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="span4">
        <ul class="unstyled">
            <li ng-repeat="commit in commits" ng-controller="CommitsListItemCtrl"  mark-current="commit.id">
                <div class="row">
                    <div class="span4 well well-small" ng-click="openCommitDetails(commit)">
                        <div class="row">
                            <div class="span4">
                                <h5 ng-bind-html-unsafe="commit.message">{{commit.message}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                <span>{{commit.date | relativeDate}} by {{commit.authorName}}</span>
                                <small>{{commit.sha}}</small>
                            </div>
                            <div class="span1">
                                <button class="btn btn-mini btn-success" ng-click="markAsReviewed(commit)" isolate-click><i class="icon-ok"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="span7 offset1" ui-view></div>
</div>
</div>