<div>
    <div class="diff-statistics">Showing 6 changes</div>

    <table class="diff-file-container" ng-repeat="file in currentCommit.files">
        <thead class="diff-file-name">
        <tr>
            <th colspan="3">{{file.filename}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="line in file.lines">
        <!--line of code start-->
        <tr ng-class="line.lineType">
            <td class="diff-line-num">
                <div ng-switch on="line.lineType">
                    <span ng-switch-when="header">...</span>
                    <span ng-switch-when="added"></span>
                    <span ng-switch-default>{{line.lineNumberOriginal}}</span>
                </div>
                <a class="like button">
                    <i class="icon-heart"></i>
                </a>
            </td>
            <td class="diff-line-num">
                <div ng-switch on="line.lineType">
                    <span ng-switch-when="header">...</span>
                    <span ng-switch-when="removed"></span>
                    <span ng-switch-default>{{line.lineNumberChanged}}</span>
                </div>
                <a class="comment button">
                    <i class="icon-pencil"></i>
                </a>
            </td>
            <td class="diff-line-code" ng-bind-html-unsafe="line.line"></td>
        </tr>
        </tbody>
    </table>
</div>