mongo {
    servers = "localhost:27017"
    database = "codebrag"
}

repository {
    owner = "softwaremill"
    name = "codebrag"
}

aws {
    access-key-id = ""
    secret-access-key = ""
}

github {
    client-id = ""
    client-secret = ""
}

email {
    smtp-host = ""
    smtp-port = ""
    smtp-username = ""
    smtp-password = ""
    from = ""
    sqs-task-queue = ""
    encoding = "UTF-8"
}

codebrag {
    local-git-path = "."
    sync-user-login = ""
}

web-server {
    host = "0.0.0.0"
    port = 8080
}