<div ng-controller="CommitDetailsCtrl">
    <div class="row">
        <div class="span7">
            <h3>Commit details</h3>
            <p>SHA: {{currentCommit.sha}}</p>
            <p>Id: {{currentCommit.id}}</p>
        </div>
    </div>
    <div ng-controller="CommentCtrl">
    <div class="row">
        <div class="span7">
            <dl class="well" ng-repeat="comment in commentsList" style="width:90%">
                <dt>{{comment.time | relativeDate}} {{comment.authorName}} commented:</dt>
                <dd>{{comment.message}}</dd>
            </dl>
            <form>
                <fieldset>
                    <label>Your comment</label>
                    <textarea rows="5" style="width: 90%; resize: vertical" ng-model="addComment.body"></textarea>
                    <button class="btn" ng-click="submitComment()">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

    </div>
</div>
