<div ng-controller="CommitDetailsCtrl">
    <div class="row">
        <div class="span7">
            <h3>Commit details</h3>
            <p>{{commitSha}}</p>
        </div>
    </div>
    <div class="row">
        <div class="span7">
            <form ng-controller="CommentCtrl">
                <fieldset>
                    <label>Your comment</label>
                    <textarea rows="5" style="width: 90%; resize: vertical" ng-model="addComment.body"></textarea>
                    <button class="btn" ng-click="submitComment()">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
