<div ng-controller="CommitDetailsCtrl">
    <div class="row">
        <div class="span7">
            <h3>Commit details</h3>
            <p>SHA: {{currentCommit.sha}}</p>
            <p>Id: {{currentCommit.id}}</p>
        </div>
    </div>
    <div class="row" ng-repeat="file in files">
        <div class="span7">
            <div class="row">
                <div class="well">{{file.filename}} - {{file.status}}</div>
            </div>
            <div class="row">
                <div ng-repeat="line in file.lines" ng-hide="file.lines.length == 0">
                    {{line.lineNumber}} {{line.line}}
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="CommentCtrl">
    <div class="row">
        <div class="span7">
            <div class="well" ng-repeat="comment in commentsList" style="width:90%">
                {{comment.time | relativeDate}} by <strong>{{comment.authorName}}</strong>:
                <br/>
                <span ng-bind-html-unsafe="comment.message"></span>
            </div>
            <form name="newCommentForm">
                <fieldset>
                    <label>Your comment</label>
                    <textarea rows="5" style="width: 90%; resize: vertical" ng-model="addComment.body" required placeholder="Type your comment here"></textarea>
                    <button class="btn" ng-disabled="newCommentForm.$invalid" ng-click="submitComment()">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

    </div>
</div>
