<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Commits awaiting review</label>
                <div class="controls">
                    <button class="btn" ng-click="syncCommits()">Sync commits</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="span4">
        <ul class="unstyled">
            <li ng-repeat="commit in commits" ng-controller="CommitsListItemCtrl">
                <div class="row">
                    <div class="span4 well well-small" ng-click="openCommitDetails(commit)">
                        <h5>{{commit.message}}</h5>
                        <span>{{commit.date | relativeDate}} by {{commit.authorName}}</span>
                        <small>{{commit.sha}}</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="span7 offset1">
        <div ng-hide="currentCommit.id">
            <div ng-include src="'views/empty.html'"></div>
        </div>
        <div ng-show="currentCommit.id">
            <div ng-include src="'views/commitDetails.html?id=' + currentCommit.id"></div>
        </div>
    </div>
</div>