<div class="comment write active"><i class="icon-info-sign"></i>
    <div class="authored-box">
        <div class="author-box"><img ng-src="{{avatarUrl}}"></div>
        <div class="info-box">
            <div class="info-line"><span class="username">{{username}}:</span></div>
            <form name="newCommentForm">
                <div class="comment-body" ng-hide="previewModeOn">
                        <textarea ng-hide="previewModeOn" ng-model="content" required class="comment-text" placeholder="Write a comment..."></textarea>
                </div>
                <div ng-show="previewModeOn" ng-bind-html-unsafe="preview"></div>
            </form>
        </div>
    </div>
    <ul class="comment-action-btns button-group">
        <li><a class="button secondary" ng-disabled="newCommentForm.$invalid" ng-click="togglePreviewMode()">{{ previewModeOn && 'Edit' || 'Preview' }}</a></li>
        <li><a class="button" ng-disabled="newCommentForm.$invalid" ng-click="_submitComment(content)">Send</a></li>
        <li ng-show="isCloseable()"><a class="button link" ng-click="closeForm()">Cancel</a></li>
    </ul>
</div>
