<div class="row">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Commits awaiting review</label>
                <div class="controls">
                    <button class="btn" ng-click="syncCommits()">Sync commits</button>
                </div>
            </div>
        </form>
</div>
<div class="row">
    <div class="span4">
        <ul class="unstyled">
            <li ng-repeat="commit in commits" ng-controller="CommitsListItemCtrl">
                <div class="row">
                    <div class="well well-small" ng-click="openCommitDetails(commit.sha)">
                        <h5>{{commit.message}}</h5>
                        <span>{{commit.date | relativeDate}} by {{commit.authorName}}</span>
                        <small>{{commit.sha}}</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="span8">
        <div class="row">
            <div class="span 8" ng-include src="detailsSection.templateName"></div>
        </div>
    </div>
</div>