<tr class="inline-likes comments-container" ng-show="lineReactions.likes.length > 0" data-inline-reactions-container>
    <td colspan="3">
        <div class="comment" data-resize-to-view="true" data-scrollable-reaction>
            <likes collection="lineReactions.likes"></likes>
        </div>
    </td>
</tr>
<tr class="comments-container" ng-show="lineReactions.comments.length > 0" data-inline-reactions-container>
    <td colspan="3">
        <!--inline comment start-->
        <div data-resize-to-view="true">
            <div class="comment" data-scrollable-reaction ng-repeat="comment in lineReactions.comments" id="{{comment.id}}">
                <div class="authored-box">
                    <div class="author-box"><user-avatar url="comment.authorAvatarUrl"></user-avatar></div>
                    <div class="info-box">
                        <div class="info-line"><span class="username">{{comment.authorName}}</span><span class="time">{{comment.time | relativeDate}}</span></div>
                        <div class="comment-body">
                            <markdown-to-html content="comment.message"></markdown-to-html>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--inline comment end-->
    </td>
</tr>
<tr class="comments-container" data-inline-reactions-container data-thread-controls ng-controller="ReactionControlsCtrl" ng-show="displayLineControls(lineReactions)">
    <td colspan="3">
        <!--inline comment start-->
        <div data-resize-to-view="true">
            <div class="comment write active">
                <ul class="comment-action-btns button-group">
                    <li ng-show="lineHasComments(lineReactions)" data-commentable><a class="button primary reply">Reply</a></li>
                    <li><a ng-show="isCurrentFollowup(lineReactions)" class="button primary kthxbye" ng-click="markCurrentFollowupAsDone()"><i class="icon-ok-circle"> </i>OK THX</a></li>
                </ul>
            </div>
        </div>
    </td>
</tr>