<div class="user-profile popup-page opened" id="user-profile-popup" ng-controller="UserProfileCtrl">
    <div class="popup-box">
        <div class="popup-content">
            <div class="profile clearfix">
                <h1>Your profile</h1>
                <div class="avatar">
                    <user-avatar logged-in-user="true"></user-avatar>
                </div>
                <div class="profile-info">
                    <h3>{{user.login}}</h3>
                    <h3>{{user.email}}</h3>
                    <span>Codebrag uses <a href="http://gravatar.com" target="_blank">Gravatar</a> for your profile picture.</span>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="settings" ng-show="userSettings">
                <h1>Your settings</h1>
                <div class="param clearfix">
                    <div class="label">
                        <label>
                            Smart email notifications
                            <span ng-show="savingStatus && savingStatus.pending" class="pending">(Saving...)</span>
                            <span ng-show="savingStatus && savingStatus.ok" class="success">(Saved)</span>
                            <span ng-show="savingStatus && savingStatus.err" class="failed">(Something went wrong, not saved)</span>
                        </label>
                    </div>
                    <div class="control">
                        <input ng-disabled="savingStatus && savingStatus.pending" type="checkbox" ng-model="userSettings.emailNotificationsEnabled" ng-change="notificationsChanged()"/>
                    </div>
                </div>
            </div>
        </div>
        <span class="close-btn" ng-click="closePopup()">
            <i class="icon-remove"></i>
        </span>
    </div>
</div>