<div ng-controller="PageTourCtrl" ng-show="loggedInUser">

    <page-tour-popup dismiss="ackStep('commits')" visible-if="inCommits() && stepActive('commits')" position-css-class="tour-info-box-commits" arrow-css-class="tour-arrow-to-left">
        <header>
            <h1>Welcome to Codebrag</h1>
        </header>
        <p>
            <strong>"To Review"</strong> list shows your colleagues' recent commits awaiting your review
        </p>
        <footer class="btn-centered-wrapper">
            <button class="light" ng-click="ackStep('commits')">Ok, got it</button>
            <a class="button light" href="http://codebrag.com/#how-codebrag-works" target="_blank">Learn more</a>
        </footer>
    </page-tour-popup>

    <page-tour-popup dismiss="ackStep('followups')" visible-if="inFollowups() && stepActive('followups')" position-css-class="tour-info-box-followups" arrow-css-class="tour-arrow-to-left">
        <p><strong>Followups</strong> are comments requiring your attention:</p>
        <ul>
            <li>&ndash;&nbsp;comments (and likes) on your commits</li>
            <li>&ndash;&nbsp;new comments in discussions you take part in</li>
        </ul>
        <footer class="btn-centered-wrapper">
            <button class="light" ng-click="ackStep('followups')">Ok, got it</button>
            <a class="button light" href="http://codebrag.com/#how-codebrag-works" target="_blank">Learn more</a>
        </footer>
    </page-tour-popup>

    <page-tour-popup visible-if="stepActive('invites')" position-css-class="tour-info-box-invite" arrow-css-class="tour-arrow-to-top">
        <header>
            <h1>Invite team members</h1>
        </header>
        <p>
            Share your knowledge.<br>Review the code together and learn from each other!
        </p>
        <footer class="btn-centered-wrapper">
            <button class="light" ng-click="ackAndOpenInvitePopup('invites')">Invite now</button>
            <button class="light" ng-click="ackStep('invites')">Later</button>
        </footer>
    </page-tour-popup>

</div>
