@import "normalize.min.css"
@import "foundation.min.css"
@import "nib";

// VARIABLES:
// COLORS:

$body-text-color = #2f0200
$second-body-text-color = #a27d69
$body-bg-color = #f7f5ef

$header-bg-color = #300300
$header-bg-color-darker = #280200
$header-text-color = #ad8245

$followups-container-bg = #ece8d9
$followup-commit-name-color = #70554D
$followup-infoline-color = #9E8B80

$main-orange-color = #f3720b
$green-button-bg-color = #5abfa3
$green-button-bg-hover = #4AB194
$gray-button-bg-color = #D1CDC2

$lime-green-color = #99ab01

$error-red-color = #f0552f
$error-text-color = #ffd8cf


$form-input-bg-color = #f2ecd5
$main-border-color = #d1cbb9


@import "common.styl"

@import "forms.styl"

@import "header.styl"

a.ribbon
  background: $main-orange-color;
  bottom: 19px;
  color: white;
  display: inline-block;
  left: -44px;
  opacity: 0.9;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 154px;
  z-index: 2;
  transform: rotate(45deg);
  &:hover
    opacity: 1;


@import "popups.styl"


@import "left-list.styl"


@import "diff.styl"


@import "errors.styl"


@import "responsive.styl"