.loading-bar
  position:fixed
  top:0
  left: 0
  height: 0.19em
  background: #f3720b
  z-index: 2000
  width: 100%
  transform: translateX(100%)


@keyframes shift-rightwards
  0%
    transform:translateX(-100%)
  40%
    transform:translateX(0%)
  60%
    transform:translateX(0%)
  100%
    transform:translateX(100%)


.loading
  display: block
  animation: shift-rightwards 1s ease-in-out infinite
  animation-delay: 0.3s
