.tour-info-box
    padding: 0.5em;
    position: fixed;
    word-wrap: normal;
    display: inline-block;
    background: #fff;
    border: 1px solid #d1cbb9;

.tour-info-box-invite
    width: 400px;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    right: 100px;

.tour-info-box-commits, .tour-info-box-followups
    width: 400px;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    left: 40%;

.tour-info-box-header
    text-align: center;
    color: #70493e;

.tour-info-box-text
    line-height: 180%;

.tour-info-box-footer
    text-align: center;

.tour-info-box-arrow-top-left:before
    content: "";
    background: url("/assets/images/arrow_left.png") no-repeat;
    position: absolute;
    top: -55px;
    left: -161px;
    width: 312px;
    height: 55px;

.tour-info-box-arrow-right-top:after
    content: "";
    background: url("/assets/images/arrow_up.png") no-repeat;
    position: absolute;
    top: -108px;
    left: 100%;
    height: 216px;
    width: 55px;

.tour-info-box-wrapper
    text-align: center;