.tour
    &.popup-box
        background: #fff;
        border: 1px solid #e4d9b8;
        box-shadow: none;
        position: fixed;
        top: 200px;
        width: 365px;

    &.tour-arrow-to-left
        left: 40%;
        &:before
            background: url("/assets/images/tour-arrow.svg") no-repeat;
            content: "";
            height: 60px;
            left: -100px;
            position: absolute;
            top: -60px;
            width: 216px;

    &.tour-arrow-to-top
        right: 100px;
        &:after
            background: url("/assets/images/tour-arrow.svg") no-repeat;
            content: "";
            height: 60px;
            position: absolute;
            right: -139px;
            top: -45px;
            transform: rotate(90deg);
            width: 216px;