<div id="commits-tab-content" class="row" auto-fit-height>
    <div class="small-12 large-12 columns">
        <div class="commits-tab-header row">
            <div class="small-3 large-3 columns">
                <div class="branch-selector row" ng-controller="BranchesCtrl">
                    <div class="small-7 large-7 columns">
                        <div class="repo-btn" ng-controller="ReposCtrl">
                            <div class="dropdown-btn btn-small">
                                <div class="selected text-center">
                                    <span class="octicon octicon-repo"></span>
                                </div>
                                <ul class="branches-list">
                                    <li style="white-space: nowrap" ng-repeat="repo in repos()" ng-click="selectRepo(repo)" ng-class="{'selected': isSelected(repo)}">{{repo}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="branch-btn" ng-show="showBranchesSelector">
                            <dropdown selected="currentRepoContext.branch" icon="assets/images/branch.png">
                                <ul class="branches-list">
                                    <li ng-repeat="branch in branches" ng-class="{'selected': isSelected(branch)}" ng-click="selectBranch(branch)">
                                        <watched-branch-indicator toggle-watching="toggleWatching(branch)" branch="branch"></watched-branch-indicator>
                                        {{branch.name}}
                                    </li>
                                </ul>
                            </dropdown>
                        </div>
                    </div>
                    <div class="columns" ng-class="{'small-5 large-5': showBranchesSelector, 'small-11 large-11': !showBranchesSelector}">
                        <dropdown selected="displaySelectedMode()">
                            <ul style="display: block;">
                                <li ng-click="switchListView('pending')">
                                    <span>{{ toReviewLabel() }} <i class="icon-info-sign help-bubble">
                                        <span class="to-review-help">"To Review"  list shows your colleagues'  recent commits awaiting your review</span>
                                    </i>
                                    </span>
                                </li>
                                <li ng-click="switchListView('all')">all</li>
                            </ul>
                        </dropdown>
                    </div>
                </div>
            </div>
            <div class="small-9 large-9 columns">
                <div class="diff-header clearfix" ng-controller="DiffNavbarCtrl" ng-show="currentCommit">
                    <diff-file-chooser>Files in this commit</diff-file-chooser>
                    <a class="to-review accept button" title="Mark commit as reviewed" ng-show="currentCommit.info.isToReview()" ng-click="markCurrentCommitAsReviewed()">
                        <i class="icon-ok-circle"> </i>{{ readableCommitStatus }}
                    </a>
                    <span class="reviewed-inactive secondary button" ng-hide="currentCommit.info.isToReview() || currentCommit.info.isNotApplicable()">
                        <i class="icon-ok-circle"> </i>{{ readableCommitStatus }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="CommitsCtrl">
            <div class="commits items-list small-3 large-3 columns">
                <div class="list-loader" http-request-tracker="commitsList">
                    <span class="info">Loading commits...</span>
                </div>
                <div class="items-container" scroll-commits-list>
                    <div class="load-previous-wrapper" ng-show="hasPreviousCommits()" ng-click="loadPreviousCommits()">
                        <span class="button link">
                            <i class="icon-circle-arrow-up"></i> older
                        </span>
                    </div>
                    <!--commit info start-->
                    <div class="commit-container" ng-repeat="commit in commits" mark-current="commit.sha"
                         state-param-name="sha" ng-click="openCommitDetails(commit.sha)" ng-class="{reviewed: !commit.isToReview() }">
                        <div class="authored-box">
                            <div class="author-box"><user-avatar url="commit.authorAvatarUrl"></user-avatar></div>
                            <div class="info-box">
                                <div class="commit-name"><commit-msg-headline message="commit.message"/></div>
                                <div class="info-line"><span class="username">{{commit.authorName}}</span><span class="time">{{commit.date | relativeDate}}</span></div>
                            </div>
                        </div >
                    </div>
                    <div class="load-next-wrapper" ng-show="hasNextCommits()" ng-click="loadNextCommits()">
                        <span class="button link">
                            <i class="icon-circle-arrow-down"></i> newer
                        </span>
                    </div>
                    <!--commit info end-->
                    <div class="no-more-items ng-cloak" ng-show="allCommitsReviewed()">
                        Yay!<br> Nothing to review!
                    </div>
                </div>
            </div>
            <div class="diff small-9 large-9 columns" ui-view></div>
        </div>
    </div>
</div>