<div id="commits-tab-content" class="row" ng-controller="CommitsCtrl" auto-fit-height>
    <div class="small-12 large-12 columns">
        <div class="commits-tab-header row">
            <div class="small-3 large-3 columns">
                <div class="branch-selector row">
                    <div class="small-6 large-6 columns" ng-controller="BranchesCtrl">
                        <dropdown selected="selectedBranch()" icon="assets/images/branch.png">
                            <ul>
                                <li ng-repeat="branch in branches" ng-click="selectBranch(branch)">{{branch}}</li>
                            </ul>
                        </dropdown>
                    </div>
                    <div class="small-6 large-6 columns">
                        <dropdown selected="displaySelectedMode(counters.commitsCount)">
                            <ul>
                                <li ng-click="switchListView('pending')">
                                    <i class="icon-info-sign"><div class="help-info">"To Review" list shows your colleagues' recent commits awaiting your review</div></i>
                                    {{ toReviewLabel() }}
                                </li>
                                <li ng-click="switchListView('all')">all</li>
                            </ul>
                        </dropdown>
                    </div>
                </div>
            </div>
            <div class="small-9 large-9 columns">
                <div class="diff-header clearfix" ng-controller="DiffNavbarCtrl" ng-show="currentCommit">
                    <label for="file-changer">Files in this commit:</label><diff-file-chooser></diff-file-chooser>
                    <a class="to-review accept button" title="Mark commit as reviewed" ng-show="currentCommit.info.pendingReview" ng-click="markCurrentCommitAsReviewed()"><i class="icon-ok-circle"> </i>Mark commit as reviewed</a>
                    <span class="reviewed-inactive secondary button" ng-hide="currentCommit.info.pendingReview"><i class="icon-ok-circle"> </i>Reviewed</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="commits items-list small-3 large-3 columns">
                <div class="list-loader" http-request-tracker="commitsList">
                    <span class="info">Loading commits...</span>
                </div>
                <div class="items-container" scroll-commits-list>
                    <div class="load-previous-wrapper" ng-show="hasPreviousCommits()" ng-click="loadPreviousCommits()">
                        <span class="button link">
                            <i class="icon-circle-arrow-up"></i> older
                        </span>
                    </div>
                    <!--commit info start-->
                    <div class="commit-container" ng-repeat="commit in commits" mark-current="commit.id"
                         state-param-name="id" ng-click="openCommitDetails(commit.sha)" ng-class="{reviewed: !!!commit.pendingReview}">
                        <div class="authored-box">
                            <div class="author-box"><user-avatar url="commit.authorAvatarUrl"></user-avatar></div>
                            <div class="info-box">
                                <div class="commit-name"><commit-msg-headline message="commit.message"/></div>
                                <div class="info-line"><span class="username">{{commit.authorName}}</span><span class="time">{{commit.date | relativeDate}}</span></div>
                            </div>
                        </div >
                    </div>
                    <div class="load-next-wrapper" ng-show="hasNextCommits()" ng-click="loadNextCommits()">
                        <span class="button link">
                            <i class="icon-circle-arrow-down"></i> newer
                        </span>
                    </div>
                    <!--commit info end-->
                    <div class="no-more-items ng-cloak" ng-show="allCommitsReviewed()">
                        Yay!<br> Nothing to review!
                    </div>
                </div>
            </div>
            <div class="diff small-9 large-9 columns" ui-view></div>
        </div>
    </div>
</div>