<div class="popup-content" style="text-align: left">
    <h1 class="success">About Codebrag</h1>
    <p>Codegrag is a super-simple tool for code review brought to you by <a href="http://softwaremill.com" target="_blank">SoftwareMill</a>.</p>
    <p>Want to know more?
    <ul>
        <li>- <a href="https://github.com/softwaremill/codebrag/wiki/How-Codebrag-Works" target="_blank">Getting Started Video</a></li>
        <li>- <a href="https://github.com/softwaremill/codebrag/wiki" target="_blank">Documentation</a> and <a href="https://github.com/softwaremill/codebrag/wiki/FAQ" target="_blank">FAQ</a></li>
        <li>- <a href="https://groups.google.com/forum/#!forum/codebrag-users" target="_blank">Codebrag Users Group</a></li>
    </ul>
    </p>
    <p>
        You are running Codebrag {{ buildInfo.version }}
        <br/>
        Build SHA: {{ buildInfo.build }}
        <br/>
        Build date: {{ buildInfo.date }}
    </p>
</div>
<span class="close-btn" ng-click="$close()"><i class="icon-remove"></i></span>
