<div class="uservoice popup-page" id="uservoice-form-popup" ng-show="isVisible">
    <div class="popup-box">
        <form class="popup-content" name="contactForm" novalidate>
            <fieldset class="uv-contact" ng-hide="success">
                <h1>Contact us</h1>
                <div class="form-group">
                    <label for="uv-msg-subject">Message subject</label>
                    <input id="uv-msg-subject" type="text" ng-model="msg.subject" name="subject" required>
                    <span class="text-error" ng-show="contactForm.subject.$dirty && contactForm.subject.$invalid">
                        <i class="icon-remove"></i>
                        Subject is required</span>
                </div>
                <div class="form-group">
                    <label for="uv-msg-body">How can we help you today?</label>
                    <textarea id="uv-msg-body" rows="6" ng-model="msg.body" name="body" required></textarea>
                    <span class="text-error" ng-show="contactForm.body.$dirty && contactForm.body.$invalid">
                        <i class="icon-remove"></i>
                        Meassage is required</span>
                </div>
                <div class="form-group">
                    <label for="uv-email">Your email address</label>
                    <input id="uv-email" type="email" ng-model="msg.email" name="email" required>
                    <span class="text-error" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                        <i class="icon-remove"></i>
                        Valid email address is required</span>
                </div>
                <div class="btn-centered-wrapper" ng-hide="failure">
                    <button class="button" ng-click="submit()" ng-disabled="contactForm.$invalid">Send message</button>
                </div>
            </fieldset>
            <fieldset class="uv-success" ng-class="{opened: success}">
                <h1>Thanks!</h1>
                <p>We really appreciate your effort to make Codebrag better!</p>
            </fieldset>
            <fieldset class="uv-error" ng-class="{opened: failure}">
                <h1>Ooops!</h1>
                <p>Something went wrong... Do you want to try again?</p>
                <div class="btn-centered-wrapper">
                    <button class="button" ng-click="submit()">Sure, let's try again</button>
                </div>
            </fieldset>
        </form>
            <span class="close-btn" ng-click="close()">
                <i class="icon-remove"></i>
            </span>
    </div>
</div>
