<div>
    <a class="ribbon">Early version</a>
    <div class="ribbon popup-page" ng-show="isVisible">
        <div class="popup-box">
            <div class="popup-content">
                <h1>This is a very early version of Codebrag.</h1>
                <p>It may contain bugs and for sure it does not contain all the features we would wish it had.</p>
                <p>We would love to hear your opinion on how it works.<br>Feel free to leave your feedback <a ng-click="openContactFormPopup()">here</a>.</p>
                <blockquote>If you are not ashamed of your product when you launch it, you launched too late.
                    <footer> — Reid Hoffman</footer>
                </blockquote>
            </div>
            <span class="close-btn" ng-click="close()"><i class="icon-remove"></i></span>
        </div>
    </div>
</div>
