<div class="popup-content" ng-controller="InviteFormPopupCtrl">
    <form name="inviteForm" novalidate>
        <fieldset class="invitation opened">
            <h1>Invite team members to Codebrag</h1>
            <div class="form-group">
                <label>Review the code together and learn from each other!</label><br>
                <label for="invitation-link">Send the following link to your team members (note: the link expires in 24 hours):</label>
                <input id="invitation-link" type="text" readonly value="{{invitationLink}}"/>
            </div>
            <div class="form-group">
                <label>Users already registered in Codebrag</label>
                <div class="list">
                    <span ng-hide="registeredUsersLoaded">Loading registered users...</span>
                    <span show-on-demo>Displaying registered users disabled on demo</span>
                    <ul>
                        <li ng-repeat="user in registeredUsers">
                            {{user.email}}
                            <span ng-show="user.pending" class="pending"> - Sending invitation</span>
                            <span ng-show="user.sendingFailed" class="failed"> - Invitation sending failed</span>
                            <span ng-show="user.sendingOk" class="success"> - Invitation has been sent</span>
                        </li>
                    </ul>
                </div>
                <input type="text" ng-model="emails" name="emails" ui-validate="{format: 'validateEmails($value)'}"
                       placeholder="Put email addresses and hit Enter to send invitation link" required ui-keypress="{'enter': 'submitOnEnter($event)'}"
                        set-focus>
                <span class="text-error login-error"
                      ng-show="inviteForm.emails.$dirty && inviteForm.emails.$invalid && !inviteForm.emails.$error.required">
                      <i class="icon-remove"></i>
                      Invalid email format
                </span>
                <span class="text-error login-error"
                      ng-show="inviteForm.emails.$dirty && inviteForm.emails.$error.required">
                      <i class="icon-remove"></i>
                      Email is required
                </span>
            </div>
            <div class="btn-centered-wrapper">
                <button class="button" ng-click="submit()" ng-disabled="inviteForm.$invalid">
                    Invite
                </button>
            </div>
        </fieldset>
        <span class="close-btn" ng-click="$close()">
            <i class="icon-remove"></i>
        </span>
    </form>
</div>
