<div class="popup-content" style="text-align: left">
    <h1 class="success">Licence</h1>
    <h2 class="text-center text-error" ng-show="!licenceData.valid">Your licence has expired.<br>Codebrag is available in read-only mode.</h2>
    <h3 class="text-center" ng-show="!licenceData.valid">Purchase your licence to continue using Codebrag.</h3>
    <ul>
        <li>Current license: Free trial</li>
        <li>Company name: -</li>
        <li>Expires: <b>{{ licenceData.expiresAt | dateOnly }}</b></li>
    </ul>
    <footer class="text-center">
        <a class="button light" href="http://codebrag.com/pricing.html" target="_blank">Purchase licence</a>
    </footer>
</div>
<span class="close-btn" ng-click="$close()"><i class="icon-remove"></i></span>
