<div class="popup-content" ng-controller="ManageUsersPopupCtrl">

    <h1 class="text-center">Manage team members

        <div class="info-line"> 
            &nbsp;
            <span class="text-error" ng-repeat="f in flash.get('error')">{{ f.message }}</span>
            <span class="success" ng-repeat="f in flash.get('info')">{{ f.message }}</span>
        </div>
    </h1>

    <div class="table-container">    
        <table>
            <thead>
                <th>Team member email</th>
                <th>Active?</th>
                <th>Admin?</th>
                <th></th>
            </thead>

            <tr ng-repeat="user in users">
                <td>{{ user.email}}</td>
                <td class="cell-centered"><input type="checkbox" ng-model="user.active" ng-click="modifyUser(user, 'active')" ng-disabled="user.locked"/></td>
                <td class="cell-centered"><input type="checkbox" ng-model="user.admin" ng-click="modifyUser(user, 'admin')" ng-disabled="user.locked"/></td>
                <td><button class="link" ng-disabled="!user.active" ng-click="askForNewPassword(user)">Set&nbsp;password</button></td>
            </tr>
        </table>
    </div>

    <section>
        <div> {{ countActiveUsers() }} active users in total</div>
        <div ng-hide="licenceData.type === 'Trial'"> Licence up to {{ licenceData.maxUsers }} users</div>
        <button ng-click="invite()">Invite team members</button>
    </section>

    <span class="close-btn" ng-click="$close()">
        <i class="icon-remove"></i>
    </span>
</div>