<div class="popup-content" ng-show="!repoStatus.error">
    <h1 class="success">Downloading data</h1>
    <p>Codebrag is now working hard to fetch your repository content. It may take a while depending on repository type and size.</p>
    <p>We encourage you to grab a coffee and come back soon when Codebrag is ready. Just refresh the page.</p>
</div>
<div class="popup-content" ng-show="repoStatus.error">
    <h1 class="failed">Cannot import commits</h1>
    <p>Codebrag is having issues with importing repository commits and&nbsp;cannot continue until this problem is resolved.</p>
    <p>See <a href="http://documentation.codebrag.com/display/CBR12/Installation#Installation-connect-repository" target="_blank">repository setup instructions</a> for help.</p>
</div>
