<div class="user-profile popup-page opened" id="user-profile-popup" ng-controller="UserProfileCtrl">
    <div class="popup-box">
        <div class="popup-content">
            <section class="profile-info">
                <h1>Your profile</h1>
                <div class="authored-box">
                    <div class="author-box">
                        <user-avatar logged-in-user="true"></user-avatar>
                    </div>
                    <div class="info-box">
                        <div><strong>{{user.login}}</strong></div>
                        <div><strong>{{user.email}}</strong></div>
                    </div>
                </div>
                <aside class="info-line">Codebrag uses <a href="http://gravatar.com" target="_blank">Gravatar</a> for your profile picture.</aside>
            </section>

            <section class="settings-info" ng-show="userSettings">
                <h1>Your settings
                    <div class="info-line">&nbsp;
                        <span  saving-status="savingStatus"></span>
                    </div>
                </h1>
                <form class="param clearfix">
                    <p class="clearfix">
                        <label >
                            Smart email notifications <a href="http://codebrag.com/faq.html#notifications">(more info)</a>
                            <input ng-disabled="isSavePending()" type="checkbox" ng-model="userSettings.emailNotificationsEnabled" ng-change="notificationsChanged()"/>
                        </label>
                    </p>
                    <p class="clearfix">
                        <label >
                            Daily update emails
                            <input ng-disabled="isSavePending()" type="checkbox" ng-model="userSettings.dailyUpdatesEmailEnabled" ng-change="notificationsChanged()"/>
                        </label>
                    </p>
                </form>
            </section>
        </div>
        <span class="close-btn" ng-click="closePopup()">
            <i class="icon-remove"></i>
        </span>
    </div>
</div>