[{{date}}] Codebrag daily digest: {{commit_followup_message}}
Dear {{username}},

Things awaiting your attention in Codebrag today: {{commit_followup_message}}.

Please visit {{application_url}} to check them out.

Codebrag Team