[Codebrag] Daily update ({{date}}): {{summaryMessage}}
Dear {{username}},

Things awaiting your attention in Codebrag today: {{summaryMessage}}
{{#commitsNotifications}}
- {{repoName}}/{{branchName}} ({{commits}})
{{/commitsNotifications}}

Please visit {{applicationUrl}} to check them out.

Codebrag Team