[Codebrag] Notification: {{commitFollowupMessage}}
Dear {{username}},

We've noticed that since you went offline the following items were added: {{commitFollowupMessage}}.

Please visit {{applicationUrl}} to check them out.

Codebrag Team