[Codebrag] Notification: {{summaryMessage}}
Dear {{username}},

We've noticed that since you went offline the following items were added: {{summaryMessage}}.

{{#commitsNotifications}}
- {{repoName}}/{{branchName}} ({{commits}})
{{/commitsNotifications}}

Please visit {{applicationUrl}} to check them out.

Codebrag Team