 You have been invited to use codebrag by {{userName}}

Let's review some code!

{{userName}} invited you to join Codebrag - a simple tool that makes code review fun and well-organized.


Use this link to register:
{{url}}
