[Codebrag] Notification: {{commit_followup_message}}
Dear {{username}},

We've noticed that since you went offline the following items were added: {{commit_followup_message}}.

Please visit {{application_url}} to check them out.

Codebrag Team